<section>
	<h2>Discussion topics</h2>


  <% @topic.each do |topic| %>
  <article>
         <li><a href="<%= topic_path(topic) %>"><%= truncate topic.question %> - <%= topic.length %>minutes</a></li>
  </article>
   
  <% end %>
       