<h1>Welcome to Junto</h1>

<section class="hero-unit">
  <h1 style="text-align:center;">Come join or host an intellectual discussion!</h1>

  <br/>

  <div class='action-buttons'>
    <%= link_to "Browse Discussion Topics", topics_path, class: 'btn btn-primary btn-large' %>
    <%= link_to "Sign In & Create a topic", new_topic_path, class: 'btn btn-success btn-large' %>

  </div>
</section>